<div class="flex justify-center pt-8">
  <form action="/createFolder" method="post">
    <div class="flex gap-2">
      <input
        class="w-full rounded-sm border border-slate-600 px-1 py-2 focus:border-2 focus:border-blue-500 focus:outline-none"
        type="text"
        name="folderName"
        id="folderName"
        placeholder="My Folder"
        required
      />
      <button
        class="w-fit rounded-sm bg-blue-500 px-4 py-2 font-bold text-white hover:cursor-pointer hover:bg-blue-600"
        type="submit"
      >
        Create
      </button>
    </div>
  </form>
</div>
