<nav class="flex justify-center pt-8">
  <ul class="flex gap-8 border border-blue-500 bg-blue-100 px-8 py-2">
    <a href="/" class="hover:underline">
      <li class="<%=selected === 1 ? 'font-bold underline' : ''%>">Upload</li>
    </a>
    <a href="/files" class="hover:underline">
      <li class="<%=selected === 2 ? 'font-bold underline' : ''%>">Files</li>
    </a>
    <li>Folders</li>
    <li>My Shares</li>
  </ul>
</nav>
